/* line 17, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 19, main.scss */
#ncstate-util {
  /* apply a natural box layout model to all elements */
  overflow: hidden;
  *zoom: 1;
  background: #333;
  font-family: Univers, arial, sans-serif;
  font-size: 14px;
  line-height: 1; }
  /* line 22, main.scss */
  #ncstate-util *, #ncstate-util *:before, #ncstate-util *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 33, main.scss */
  #ncstate-util #ncstate-util-wrapper-primary {
    height: 30px; }
  /* line 37, main.scss */
  #ncstate-util .ncstate-util-wrapper {
    max-width: 1050px;
    width: 100%;
    margin: 0px auto;
    padding: 0%; }
  /* line 44, main.scss */
  #ncstate-util #ncstate-util-links {
    background: #666; }
    /* line 46, main.scss */
    #ncstate-util #ncstate-util-links dl {
      padding: 1.5em 0em; }
  /* line 49, main.scss */
  #ncstate-util #ncstate-util-links {
    -webkit-transition: "height linear ease-all 1s";
    -moz-transition: "height linear ease-all 1s";
    -o-transition: "height linear ease-all 1s";
    transition: "height linear ease-all 1s";
    overflow: visible; }
    /* line 55, main.scss */
    #ncstate-util #ncstate-util-links.is-hidden {
      -webkit-transition: "height linear ease-all 1s";
      -moz-transition: "height linear ease-all 1s";
      -o-transition: "height linear ease-all 1s";
      transition: "height linear ease-all 1s";
      height: 0px; }
  /* line 63, main.scss */
  #ncstate-util #ncstate-util-home {
    float: left; }
    /* line 67, main.scss */
    #ncstate-util #ncstate-util-home a {
      background-image: url("../img/arrow.png");
      background-repeat: no-repeat;
      background-position: top left;
      display: block;
      padding: 8px 9px 8px 28px;
      /*
      position: relative;
      left: -9px;*/ }
      /* line 78, main.scss */
      #ncstate-util #ncstate-util-home a:hover {
        background-color: #444; }
  /* line 86, main.scss */
  #ncstate-util #ncstate-util-options {
    float: right;
    background: #666;
    height: 30px; }
  /* line 92, main.scss */
  #ncstate-util #ncstate-util-toggle {
    float: left;
    background: #fff; }
    /* line 97, main.scss */
    #ncstate-util #ncstate-util-toggle a {
      display: block;
      background: #666666 url("../img/more.gif") no-repeat center;
      /* replace this with and transparent icon */
      width: 30px;
      height: 30px;
      text-indent: 200%;
      overflow: hidden;
      white-space: nowrap; }
      /* line 105, main.scss */
      #ncstate-util #ncstate-util-toggle a:hover {
        opacity: .95; }
  /* line 112, main.scss */
  #ncstate-util #ncstate-util-search {
    overflow: hidden;
    *zoom: 1;
    float: left;
    background: #666; }
    /* line 119, main.scss */
    #ncstate-util #ncstate-util-search input[type="submit"] {
      float: left;
      background: #555555 url("../img/search.gif") no-repeat center;
      /* replace this with and transparent icon */
      border: none;
      width: 30px;
      height: 30px;
      padding: 0px;
      text-indent: 200%;
      overflow: hidden;
      white-space: nowrap; }
      /* line 128, main.scss */
      #ncstate-util #ncstate-util-search input[type="submit"]:hover {
        cursor: pointer;
        opacity: .7; }
    /* line 136, main.scss */
    #ncstate-util #ncstate-util-search input[type="search"] {
      float: left;
      background: #666;
      border: none;
      color: #fff;
      width: auto;
      padding: 6px;
      text-align: center;
      height: 30px;
      display: none; }
      /* line 148, main.scss */
      #ncstate-util #ncstate-util-search input[type="search"]:focus {
        background: #777; }
  /* line 155, main.scss */
  #ncstate-util a {
    color: #fff;
    text-decoration: none; }
