// SASS Framework(s)

@import "compass";

// Eric Meyer Reset

@include global-reset;

// Mixins & Variables

@mixin hideText{
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
}

// Main Styles 

#ncstate-util {

	/* apply a natural box layout model to all elements */
	*, *:before, *:after {
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}
	
	@include clearfix;
	
	background: #333;
	font-family: Univers, arial, sans-serif;
	font-size: 14px;
	line-height: 1;
	
	#ncstate-util-wrapper-primary{
		height: 30px;
	}
	
	.ncstate-util-wrapper{
		max-width: 1050px;
		width: 100%;
		margin: 0px auto;
		padding: 0%;
	}
	
	#ncstate-util-links{
		background: #666;		
		dl{padding: 1.5em 0em;}
	}
	
	#ncstate-util-links{
		
		@include transition("height linear ease-all 1s");
		
		overflow: visible;
		
		&.is-hidden{
			
			@include transition("height linear ease-all 1s");
			height: 0px;
			
		}
	}
	
	#ncstate-util-home{
		
		float: left;
		
		a{
			
			background-image: url("../img/arrow.png");
			background-repeat: no-repeat;
			background-position: top left;
			display: block;
			padding: 8px 9px 8px 28px;
			/*
			position: relative;
			left: -9px;*/
			
			&:hover{
				background-color: #444;
			}
			
		}
		
	}
	
	#ncstate-util-options{
		float: right;
		background: #666;
		height: 30px;
	}

	#ncstate-util-toggle{
		
		float: left;
		background: #fff;
		
		a{
			display: block;
			background: #666 url("../img/more.gif") no-repeat center; /* replace this with and transparent icon */
			width: 30px;
			height: 30px;
			
			@include hideText;
			
			&:hover{
				opacity: .95;
			}
		}
		
	}
	
	#ncstate-util-search{
		
		@include clearfix;
		
		float: left;
		background: #666;
		
		input[type="submit"]{
			
			float: left;
			background: #555 url("../img/search.gif") no-repeat center; /* replace this with and transparent icon */
			border: none;
			width: 30px;
			height: 30px;
			padding: 0px;
			
			&:hover{
				cursor: pointer;
				opacity: .7;
			}
			
			@include hideText;
		}
		
		input[type="search"]{
			float: left;
			background: #666;
			border: none;
			color: #fff;
			width: auto;
			padding: 6px;
			text-align: center;
			height: 30px;
			
			display: none;
			
			&:focus{
				background: #777;
			}
		}
		
	}
	
	a{
		color: #fff;
		text-decoration: none;
	}

}

