// sass framework(s)

@import "../lib/reset";

// mixins & Variables

@mixin hideText{
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
}

// Centered container element
@mixin container-fixed() {
	margin-right: auto;
	margin-left: auto;
	padding-left:  (30px / 2);
	padding-right: (30px / 2);
	// Bootstrap's clearfix
		&:before,
		&:after {
			content: " "; // 1
			display: table; // 2
		}
		&:after {
			clear: both;
		}
}

@mixin clearfix {
	overflow: hidden;
	*zoom: 1;
}

// color schemes
$default-primary-color: #000;
$default-accent-color: #333;
$default-resources-color: #c00;
$default-text-color: #ffffff;
$default-link-color: #AAA;
$default-search-bg: $default-accent-color;
$default-search-highlight: #1a1a1a;

$gray-primary-color: #333;
$gray-accent-color: #1a1a1a;
$gray-resources-color: #c00;
$gray-text-color: $default-text-color;
$gray-link-color: #999;
$gray-search-bg: $gray-accent-color;
$gray-search-highlight: #2b2b2b;

$red-primary-color: #c00;
$red-accent-color: #900;
$red-resources-color: #333;
$red-text-color: $default-text-color;
$red-link-color: #ccc;
$red-search-bg: $red-accent-color;
$red-search-highlight: #bd0000;


html { margin-top: 30px !important; }
* html body { margin-top: 30px !important; } 

// main Styles 

#ncstate-utility-bar {

	// Eric Meyer reset 
	
	@include global-reset;
	input,
	button {
	  font-family: inherit;
	  font-size: inherit;
	  line-height: inherit;
	}
	
	// use border-box-sizing
	
	*, *:before, *:after {
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}
	
	@include clearfix;

	// position brand bar
	
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 30px;
	
	font-family: UniversRoman, arial, sans-serif;
	font-size: 14px;
	line-height: 1;

	z-index: 99997 !important;
	overflow: visible;
	
	a{
		color: $default-text-color;
		text-decoration: none;
	}
	
	ul li {
		list-style: none;
		list-style-type: none;
	}

	.ncstate-utility-bar-tools {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		width: 100%;
		height: 30px;
		z-index: 99999;

		background: $default-primary-color;
	}
	

	// main bar wrappers

	.ncstate-utility-bar-wrapper{
		@include container-fixed();

		@media (min-width: 768px) {
		    width: 750px;
		}
		@media (min-width: 992px) {
		    width: 970px;
		}
		@media (min-width: 1200px) {
		    width: 1170px;
		}
	}

	.ncstate-utility-bar-wrapper-primary{
		height: 30px;
		position: relative;
	}
	
	// resources container
	
	.ncstate-utility-bar-links{
		
		letter-spacing: 0.02em;
		background: $default-accent-color;
		padding: 0 10px;
		overflow: auto;
		transition-property: all;
		transition-duration: .5s;
		transform: translate(0, 0);
		z-index: 99998;
		position: relative;
		top: 30px;
		display: none;

		&.is-hidden{
		
			transform: translate(0, -100%);
		
		}
		
		ul.ncstate-utility-bar-primary-util {
			
			li {
				display: inline-block;
				padding-top: 2em;
				padding-bottom: 1em;
				width: 100%;
				
				a:hover {
					text-decoration: underline;
				}
				
				&:before {
					display: none;
				}
				
				&.ncstate-utility-bar-directory {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 144 144'%3E%3Cpath fill='%23fff' d='M71.857 81.672c12.941 0 23.435-12.537 23.435-28.002 0-15.467-10.493-28.003-23.435-28.003S48.423 38.203 48.423 53.67c0 15.465 10.493 28.002 23.434 28.002zm15.358 5.133c-4.588 2.769-9.812 4.346-15.357 4.346-5.674 0-11.018-1.644-15.683-4.535l-37.256 10.47v19.722h105.877V97.085l-37.581-10.28z'/%3E%3C/svg%3E");
					background-repeat: no-repeat;
					background-position: left 20px;
					background-size: 2em;
					padding-left: 2.75em;
				}
				
				&.ncstate-utility-bar-mypack {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 144 144'%3E%3Cpath fill='%23fff' d='M125.081 47.844V25.915h-47.04v9.752l6.844 12.177zM67.755 43.11H18.919v73.975h106.162V60.457H77.505z'/%3E%3C/svg%3E");
					background-repeat: no-repeat;
					background-position: left 20px;
					background-size: 2em;
					padding-left: 2.75em;
				}
				
				&.ncstate-utility-bar-map {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 144 144'%3E%3Cpath d='M90.821 85.199V67.552l-12.94 17.647z'/%3E%3Cpath fill='%23fff' d='M73.484 119.085s29.812-40.537 29.812-64.474c0-8.227-3.202-15.959-9.019-21.775-5.817-5.816-13.55-9.022-21.777-9.021-8.226-.001-15.96 3.203-21.775 9.021-5.817 5.816-9.021 13.549-9.021 21.775 0 27.2 29.811 64.474 29.811 64.474h1.969zM55.459 54.612c0-4.552 1.772-8.833 4.993-12.052A16.92 16.92 0 0172.5 37.566c4.553 0 8.832 1.771 12.05 4.992a16.94 16.94 0 014.991 12.051c0 4.554-1.772 8.833-4.993 12.053a16.919 16.919 0 01-12.049 4.994 16.919 16.919 0 01-12.049-4.991 16.922 16.922 0 01-4.991-12.053z'/%3E%3C/svg%3E");
					background-repeat: no-repeat;
					background-position: left 20px;
					background-size: 2em;
					padding-left: 2.75em;
				}
				
				&.ncstate-utility-bar-libraries {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 144 144'%3E%3Cpath d='M49.252 95.633h11.677v25.279H49.252z'/%3E%3Cpath d='M95.958 104.621H64.619v3.691H103.246a2.017 2.017 0 100-4.036h-1.038V89.83c.041.01.07.037.109.037 1.17 0 2.115-.936 2.115-2.088V26.613c0-1.152-.856-2.238-2.026-2.238-.891 0-.891 0-2.048.017h-48.81s-10.087-1.152-14.215 2.691c-4.127 3.844-3.515 11.757-3.515 11.757l.049 57.2c-.01.197-.059.385-.059.592 0 .203.048.398.059.6v.6l.05-.109c.564 5.924 5.506 10.592 11.572 10.592h.076v-3.691h-.076c-4.409 0-7.993-3.586-7.993-7.99 0-4.197 3.256-7.605 7.369-7.93h50.85l.243 15.917z'/%3E%3C/svg%3E");
					background-position: left 20px;
					background-repeat: no-repeat;
					background-position: left 23px;
					background-size: 2em;
					padding-left: 2.75em;
				}
			}

			&.accomodate-brick{
				
			}
		}
		
		.ncstate-utility-bar-sec-util {
			padding: 1.5em 0;
			padding-bottom: 0.5em;
			dl {
				&:last-child {
					padding-top: 0;
					dt {
						display: none;
					}
				}
				&:nth-child(3) {
					padding-bottom: 0;
				}
			}
		}

		dl{
			
			line-height: 1.6em;
			
			dt{
				color: $default-text-color;
				padding-bottom: .5em;
				ul li:before {display: none;}
				text-transform: uppercase;
				
				&.ncstate-utility-bar-primary-util {
					margin-bottom: 1.5em;
					text-transform: none;
				}
			}
		
			dd{
				font-weight: lighter;
				a {color: $default-link-color;}
				a:hover{text-decoration: underline;}
				ul li:before {display: none;}
			}
		
			padding: 1.5em;
		}
	}

	// Home button
		
	.ncstate-utility-bar-home{
		
		float: left;

		a {
			display: block;
			padding: 8px 14px 8px 28px;
			line-height: 14px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 144 144'%3E%3Cpath fill='%23fff' d='M49.477 85.676l41.031 41.033 13.678-13.679-41.033-41.032 41.033-41.032L90.508 17.29 35.799 71.998z'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: left;
			background-size: 1.2em;
		
			&:hover{
				background-color: $default-accent-color;
			}
		}
	}

	// Search/toggle container
	
	.ncstate-utility-bar-options{
		height: 30px;
		position: absolute;
		top: 0px;
		right: 0px;
	}

	.ncstate-utility-bar-covid{

		float: left;

		a{
			display: block;
			text-align: center;
			background-color: #900;
			width: 80px;
			height: 30px;
			text-transform: uppercase;
			font-size: 0.8em;
			line-height: 14px;
			letter-spacing: 0.02em;
			padding: 8px 13px;

			&:hover{
				background-color: #5e0000;
			}
		}

	}

	.covid-text{
		display: none;
	}

	@media screen and (min-width: 620px) {

		.ncstate-utility-bar-covid{

			a{
				width: 140px;
			}
		}

		.covid-text{
			display: inline;
		}

	}

	.ncstate-utility-bar-toggle{
	
		float: left;

		a{
			display: block;
			background-color: $default-resources-color;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 144 144'%3E%3Cpath fill='%23fff' d='M28.322 28.437V45.7h87.357V28.437H28.322zm0 87.127h87.357V98.302H28.322v17.262zm0-34.931h87.357V63.369H28.322v17.264z'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 90% 50%;
			background-size: 1.78572em;
			width: 120px;
			height: 30px;
			text-transform: uppercase;
			font-size: 0.8em;
			line-height: 14px;
			letter-spacing: 0.02em;
			padding: 8px 13px;

			&:hover{
				background-color: #5e0000;
				& + .indicator {
					border-top: 8px solid #5e0000;
				}
			}
		}

		.indicator {
			width: 0;
			height: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 8px solid $default-resources-color;
			margin: 0 auto -0.5em;
			display: none;
		}
	
	}
	
	.ncstate-utility-bar-search{
	
		@include clearfix;
	
		float: left;
		background: $default-search-bg;
	
	}
	
	.ncstate-utility-bar-search-submit{
		
		float: left;
		background-color: $default-search-bg;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 144 144'%3E%3Cpath fill='%23fff' d='M125.409 112.381L93.296 80.269c4.181-6.493 6.431-14.051 6.43-21.955.001-10.864-4.23-21.079-11.914-28.76C80.13 21.87 69.917 17.64 59.052 17.64s-21.079 4.23-28.761 11.914c-7.683 7.681-11.914 17.896-11.913 28.76-.001 10.864 4.23 21.078 11.913 28.761 7.682 7.683 17.897 11.913 28.761 11.913 7.906 0 15.46-2.25 21.953-6.431l32.113 32.115 12.291-12.291zm-85.415-35.01C34.904 72.28 32.1 65.512 32.1 58.313c0-7.2 2.804-13.967 7.894-19.057 5.091-5.09 11.858-7.895 19.058-7.895 7.198 0 13.965 2.805 19.057 7.895 5.091 5.09 7.894 11.857 7.894 19.057 0 7.199-2.803 13.967-7.894 19.058-5.091 5.09-11.858 7.895-19.057 7.895-7.199 0-13.967-2.805-19.058-7.895z'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 1.3em;
		border: none;
		width: 30px;
		height: 30px;
		padding: 0px;
		border-radius: 0px; /* Make corners not round */
		-webkit-appearance: none; /* Make corners not round */
	
		&:hover{
			cursor: pointer;
			background-color: $default-search-highlight;
		}
	
		@include hideText;
	}
	
	.ncstate-utility-bar-search-field{
		float: left;
		border-radius: 0px; /* Make corners not round */
		-webkit-appearance: none; /* Make corners not round */
		background-color: $default-search-bg;
		border: none;
		color: $default-text-color;
		font-size: 13px;
		width: 150px;
		padding: 6px;
		text-align: center;
		height: 30px;
		box-sizing: border-box;
		/* Make form hidden dropdown in mobile */
		display: none;
		position: absolute;
		top: 30px;
		right: 0;
		
		&::-webkit-input-placeholder{color: $default-text-color; font-size:13px;}
		&:-moz-placeholder{color: $default-text-color; font-size:13px;}
		&::-moz-placeholder{color: $default-text-color; font-size:13px;}
		&:-ms-input-placeholder{color: $default-text-color; font-size:13px;}
		
		&:focus{ 
			background-color: $default-search-highlight;
			&::-webkit-input-placeholder{transition: opacity 0.5s ease; opacity: 0;}
			&:-moz-placeholder{transition: opacity 0.5s ease; opacity: 0;}
			&::-moz-placeholder{transition: opacity 0.5s ease; opacity: 0;}
			&:-ms-input-placeholder{transition: opacity 0.5s ease; opacity: 0;} 
		}
	}
	
}


// wider mobile devices & small tablets

	
@media screen and (min-width: 528px) {
	#ncstate-utility-bar {
		
		.ncstate-utility-bar-links{
			overflow: auto;
			transition-duration: .4s;
			dl{
				width: 50%;
				display: inline-block;
				&:nth-child(3){clear: both;}
				dd,dt{padding-right: 3%;}
			}
			
			ul.ncstate-utility-bar-primary-util {
				padding-bottom: 1.5em;
				width: 100%;
				
				li {
					width: 50%;
					padding-right: 3%;
				}
			}



			.ncstate-utility-bar-sec-util {
				dl {
					&:last-child {
						padding-top: 1.5em;
						dt {
							display: block;
						}
					}
					&:nth-child(3) {
						padding-bottom: 1.5em;
					}
				}
			}
		}
	
		.ncstate-utility-bar-search-field{
			display: block;
			position: static;
			top: auto;
			right: auto;
		}
	
	}
	
}

@media screen and (min-width: 800px) {
	
	#ncstate-utility-bar {
		
		.ncstate-utility-bar-links {
			transition-duration: .3s;
			dl{
				width: 25%;
				display: inline-block;
				padding: 0 1.5em;
				vertical-align: top;
				&:nth-child(3){clear: none;}
			}
			
			ul.ncstate-utility-bar-primary-util {
				padding-bottom: 0;
				
				li {
					width: 25%;
					padding-right: 3%;
				}
			}



		.ncstate-utility-bar-sec-util {
			padding-bottom: 2em;
			dl {
				&:last-child {
					padding-top: 0;
				}
				&:nth-child(3) {
					padding-bottom: 0;
				}
			}
		}
		}
		
	}
}

#ncstate-utility-bar.gray {

	.ncstate-utility-bar-tools { background: $gray-primary-color; }

	.ncstate-utility-bar-links {
		background: $gray-accent-color;
	}

	.ncstate-utility-bar-toggle {
		a { 
			background-color: $gray-resources-color;

			&:hover {
				background-color: #5e0000;
				& + .indicator {
					border-top: 8px solid #5e0000;
				}
			}
		}

		.indicator { border-top: 8px solid $gray-resources-color; }
	}

	.ncstate-utility-bar-search { background: $gray-search-bg; }

	.ncstate-utility-bar-search-submit { 
		background-color: $gray-search-bg;
		&:hover { background-color: $gray-search-highlight; }
	}

	.ncstate-utility-bar-search-field {
		background-color: $gray-search-bg;
		&:focus{background-color: $gray-search-highlight;}
	}
	
	&:not(.show-brick) .ncstate-utility-bar-home a:hover { background-color: $gray-accent-color; }
}

#ncstate-utility-bar.red {

	.ncstate-utility-bar-tools { background: $red-primary-color; }

	.ncstate-utility-bar-links {
		background: $red-accent-color;
		dl dd a {color: $red-link-color;}
	}

	.ncstate-utility-bar-toggle {
		a { 
			background-color: $red-resources-color;

			&:hover {
				background-color: darken($red-resources-color, 10%);
				& + .indicator {
					border-top: 8px solid darken($red-resources-color, 10%);
				}
			}
		}

		.indicator { border-top: 8px solid $red-resources-color; }
	}

	.ncstate-utility-bar-search { background: $red-search-bg; }

	.ncstate-utility-bar-search-submit { 
		background-color: $red-search-bg;
		&:hover { background-color: $red-search-highlight; }
	}

	.ncstate-utility-bar-search-field {
		background-color: $red-search-bg;
		&:focus{background-color: $red-search-highlight;}
	}

	&:not(.show-brick) .ncstate-utility-bar-home a:hover { background-color: $red-accent-color; }
}

#ncstate-utility-bar.show-brick {
	.ncstate-utility-bar-home a {
		background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 34.493'%3E%3Cpath fill='%23c00' d='M71.998 34.493H0V0h71.998v34.494'/%3E%3Cpath fill='%23fff' d='M10.063 8.99h.027l2.819 7.55h2.844V6.212h-2.016v7.151h-.029l-2.744-7.15H8.046v10.325h2.017V8.99M21.035 15.167c-1.216 0-1.374-1.145-1.374-3.79 0-2.646.158-3.79 1.374-3.79.644 0 .885.517.885 1.888h2.117c.087-2.215-.8-3.432-3.002-3.432-3.56 0-3.56 2.603-3.56 5.334 0 2.702 0 5.332 3.56 5.332 2.016 0 3.118-.886 3.118-3.644h-2.131c-.03.815.014 2.102-.987 2.102M35.105 13.721c0-3.246-4.347-3.073-4.347-5.031 0-.716.417-1.103 1.116-1.103.872 0 1.001.787 1.001 1.56h2.102c.143-2.16-.902-3.104-3.002-3.104-2.633 0-3.404 1.287-3.404 2.903 0 3.077 4.346 3.188 4.346 5.049 0 .699-.356 1.172-1.085 1.172-1.189 0-1.23-.83-1.23-1.817h-2.16c-.114 1.788.386 3.36 3.06 3.36 1.643 0 3.603-.313 3.603-2.989M38.238 16.54h2.16V7.931h2.403V6.213h-6.965v1.719h2.402v8.607M45.302 12.665l.984-4.464h.028l1.044 4.464zm-.289-6.452L42.155 16.54h2.13l.586-2.288h2.947l.568 2.288h2.274L47.858 6.213h-2.845M54.553 16.54V7.931h2.405V6.213h-6.966v1.719h2.405v8.607h2.156M63.714 14.952H60.12v-3.015h3.204V10.35h-3.204V7.802h3.475V6.213H57.96V16.54h5.755v-1.587M12.233 25.147c0 1.1 0 2.668-1.72 2.668-1.719 0-1.719-1.568-1.719-2.668v-5.308h-.748v5.86c0 2.176 1.145 2.747 2.467 2.747 1.323 0 2.466-.571 2.466-2.747v-5.86h-.746v5.308M19.79 27.23l-.024.022-3.426-7.413h-1.147v8.44h.75v-7.466l.023-.024 3.438 7.49h1.132v-8.44h-.747v7.39M22.89 28.28h.748v-8.441h-.747v8.44M28.01 27.394h-.02l-2-7.555h-.797l2.351 8.44h.935l2.339-8.44h-.724l-2.084 7.555M33.086 24.26h2.94v-.632h-2.94V20.47h3.078v-.632H32.34v8.44h3.906v-.628h-3.16v-3.39M39.942 23.557h-1.215V20.47h1.53c.876 0 1.333.223 1.333 1.38 0 1.416-.524 1.706-1.648 1.706zm1.088.34v-.022c1.134-.26 1.31-.961 1.31-2.013 0-1.483-.408-2.023-2.035-2.023H37.98v8.44h.746V24.19h1.416c1.623 0 1.378 1.624 1.388 1.99.015.451.047 1.856.117 2.1h.714c-.022-.326-.08-.652-.08-.98 0-3.02-.071-3.158-1.252-3.403M46.646 23.594c-.96-.69-1.593-.725-1.593-1.977 0-.993.577-1.31 1.484-1.31 1.149 0 1.408.633 1.432 1.672h.756c0-1.215-.372-2.305-2.128-2.305-1.377 0-2.301.61-2.292 2.07.015.845.086 1.347 1.724 2.352 1.213.749 1.974 1.074 1.974 2.222 0 .971-.48 1.497-1.466 1.497-1.507 0-1.573-.973-1.573-1.908h-.774c-.07 1.65.667 2.54 2.314 2.54 1.475 0 2.244-.736 2.244-2.245 0-1.638-1.062-1.861-2.102-2.608M50.858 28.28h.749v-8.441h-.749v8.44M53.22 20.471h2.059v7.809h.75V20.47h2.057v-.632H53.22v.632M63.724 19.839l-2.025 4.199-1.93-4.2h-.844l2.388 4.937v3.505h.751v-3.505l2.406-4.936h-.746'/%3E%3C/svg%3E");
		background-repeat:no-repeat;
		background-size:contain;
		height:60px;
		color:transparent;
		height:60px;
		&:hover {
			background-color: transparent;
		}
	}

	ul.ncstate-utility-bar-primary-util {
		padding-top:30px;
	}
}